services:
  slskd:
    restart: unless-stopped
    image: slskd/slskd:0.23.2
    user: "${UID-1000}:${GID-1000}"
    networks:
      - saltbox
    env_file: seed.env
    labels:
      traefik.enable: true
      com.github.saltbox.saltbox_managed: true
      traefik.http.routers.pantagruweb-gargamelle-slskd-nelly.entrypoints: web,websecure
      traefik.http.routers.pantagruweb-gargamelle-slskd-nelly.middlewares: globalHeaders@file,redirect-to-https@docker,robotHeaders@file,cloudflarewarp@docker
      traefik.http.routers.pantagruweb-gargamelle-slskd-nelly.rule: Host(`slskd-${SUBDOMAIN}.pantagruweb.club`)
      traefik.http.services.pantagruweb-gargamelle-slskd-nelly.loadbalancer.server.port: 5030
    volumes:
      - /mnt/remote/vip-audio/Audiothèque/${COOLECTIONS_USERNAME}/downloads/slskd:/app/downloads
      - ./slskd.yml:/app/slskd.yml
      - /etc/localtime:/etc/localtime:ro

  lidarr:
    image: ghcr.io/hotio/lidarr:pr-plugins
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - ./lidarr:/config
      - /mnt/remote/vip-audio/Audiothèque/${COOLECTIONS_USERNAME}:/music
      - /mnt/remote/vip-audio/Audiothèque/${COOLECTIONS_USERNAME}/downloads/slskd:/app/downloads
    restart: unless-stopped
    labels:
      traefik.enable: true
      com.github.saltbox.saltbox_managed: true
      traefik.http.routers.pantagruweb-gargamelle-lidarr-nelly.entrypoints: web,websecure
      traefik.http.routers.pantagruweb-gargamelle-lidarr-nelly.middlewares: globalHeaders@file,redirect-to-https@docker,robotHeaders@file,cloudflarewarp@docker
      traefik.http.routers.pantagruweb-gargamelle-lidarr-nelly.rule: Host(`lidarr-${SUBDOMAIN}.pantagruweb.club`)
      traefik.http.services.pantagruweb-gargamelle-lidarr-nelly.loadbalancer.server.port: 8686
    networks:
      - saltbox
    env_file: seed.env

  youtubarr-redis:
    image: redis:7-alpine
    restart: unless-stopped
    networks:
      - saltbox
    volumes:
      - ./youtubarr/redis:/data

  youtubarr:
    image: ghcr.io/diredirecrocs/youtubarr:main
    restart: unless-stopped
    depends_on:
      - youtubarr-redis
    environment:
      - SECRET_KEY=${YOUTUBARR_SECRET_KEY}
      - CELERY_BROKER_URL=redis://youtubarr-redis:6379/0
      - CELERY_RESULT_BACKEND=redis://youtubarr-redis:6379/0
      - LIDARR_URL=http://lidarr:8686
      - LIDARR_TOKEN=${LIDARR_TOKEN}
      - ALLOWED_HOSTS=*
      - YOUTUBE_API_KEY=AIzaSyCA0dEpsqw4CcEsMhXMdN27-StntKZQ2D4
      - DEBUG=true
    volumes:
      - ./youtubarr/data:/data
    networks:
      - saltbox
    labels:
      traefik.enable: true
      com.github.saltbox.saltbox_managed: true
      traefik.http.routers.pantagruweb-gargamelle-youtubarr-nelly.entrypoints: web,websecure
      traefik.http.routers.pantagruweb-gargamelle-youtubarr-nelly.middlewares: globalHeaders@file,redirect-to-https@docker,robotHeaders@file,cloudflarewarp@docker
      traefik.http.routers.pantagruweb-gargamelle-youtubarr-nelly.rule: Host(`youtubarr-${SUBDOMAIN}.pantagruweb.club`)
      traefik.http.services.pantagruweb-gargamelle-youtubarr-nelly.loadbalancer.server.port: 80
    env_file: seed.env

networks:
  saltbox:
    external: true
