<Config>
  <BindAddress>*</BindAddress>
  <Port>8686</Port>
  <SslPort>6868</SslPort>
  <EnableSsl>False</EnableSsl>
  <LaunchBrowser>True</LaunchBrowser>
  <ApiKey>e698a714b9914f4a8e2d22be7d602b03</ApiKey>
  <AuthenticationMethod>Forms</AuthenticationMethod>
  <AuthenticationRequired>False</AuthenticationRequired>
  <Branch>plugins</Branch>
  <LogLevel>debug</LogLevel>
  <SslCertPath></SslCertPath>
  <SslCertPassword></SslCertPassword>
  <UrlBase></UrlBase>
  <InstanceName>Lidarr - Tristan</InstanceName>
  <UpdateMechanism>Docker</UpdateMechanism>
  <UpdateAutomatically>True</UpdateAutomatically>
    <PostgresUser>postgres</PostgresUser>
    <PostgresPassword>password</PostgresPassword>
    <PostgresPort>5432</PostgresPort>
    <PostgresHost>postgres</PostgresHost>
</Config>