[[stack]]
name = "pantagruweb-gargamelle-dany"
tags = ["pantagruweb", "gargamelle"]
[stack.config]
server = "gabelle"
links = [
  "https://bandcampsync-dany.pantagruweb.club",
  "https://lidarr-dany.pantagruweb.club",
  "https://slskd-dany.pantagruweb.club",
]
linked_repo = "pantagruweb-main"
run_directory = "stacks/gargamelle/dany"
destroy_before_deploy = true
additional_env_files = ["seed.env"]
pre_deploy.command = """
COOLECTIONS_USERNAME="Dany mp3-flac"
SEED=$(date +%s)
SUBDOMAIN=dany
echo > seed.env
echo "COOLECTIONS_PATH=${COOLECTIONS_PATH}" >> seed.env
echo "COOLECTIONS_USERNAME=\"${COOLECTIONS_USERNAME}\"" >> seed.env
echo "SEED=${SEED}" >> seed.env
echo "SLSKD_SLSK_PASSWORD=PantagruwebDany${SEED}" >> seed.env
echo "SLSKD_SLSK_USERNAME=PantagruwebDany${SEED}" >> seed.env
echo "SUBDOMAIN=${SUBDOMAIN}" >> seed.env

cat seed.env

echo -n "https://${SUBDOMAIN}.pantagruweb.club"
"""
environment = """
PUID=1000
PGID=1000
TZ=Europe/Paris
SLSKD_REMOTE_CONFIGURATION=true
SLSKD_UMASK=0000
SLSKD_FILE_PERMISSION_MODE=644
SLSKD_REMOTE_FILE_MANAGEMENT=true
SLSKD_SHARED_DIR=/downloads
SLSKD_DOWNLOADS_DIR=/downloads
"""
